@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css");

@font-face {
  font-family: "Magazine";
  src: url("../../public/fonts/GothamLight.ttf.otf") format("truetype");
}

@font-face {
  font-family: "Magazine";
  src: url("../../public/fonts/GothamMedium.ttf") format("truetype");
}

@font-face {
  font-family: "Magazine";
  src: url("../../public/fonts/Gotham-Bold.otf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Magazine", sans-serif;
  color: var(--white-color);
}

:root {
  --primary-color: #1ed760;

  --black-color: #000;
  --white-color: #fff;
  --muted--color: #797c80;

  --player-bg: #282828;
  --main-bg: #141922;
}

img {
  max-width: 100%;
}

i {
  font-size: 1.5rem;
}

ul {
  list-style: none;
}

.btn {
  display: block;
  cursor: pointer;
  background-color: transparent;
  outline: 0;
  border: 0;
}

.muted-text {
  color: var(--muted--color);
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gap-1 {
  gap: 1rem;
}

.progress__bar {
  cursor: pointer;
  width: 100%;
  height: 5px;
  background-color: var(--muted--color);
  border-radius: 10px;
}

.progress__bar__inner {
  position: relative;
  width: 30%;
  height: 100%;
  background-color: var(--white-color);
  border-radius: 10px;
}

.progress__bar__radio {
  cursor: pointer;
  display: none;
  position: absolute;
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  width: 11px;
  height: 11px;
  background-color: var(--white-color);
  transition: 0.5s ease;
}

.progress__bar:hover .progress__bar__radio {
  display: block;
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    "aside__left main__view"
    "aside__bottom aside__bottom";
  grid-template-columns: 70px auto;
}

.aside__left {
  grid-area: aside__left;
  background-color: var(--black-color);
}

.main__view {
  grid-area: main__view;
  width: 100%;
  height: calc(100vh - 90px);
  background-color: var(--main-bg);
}

.aside__bottom {
  grid-area: aside__bottom;
  height: 90px;
  background-color: var(--player-bg);
  padding: 0 10px;
  gap: 2rem;
}

.aside__bottom p,
.song__title,
.aside__bottom i {
  font-size: 0.8rem;
}

.song__album {
  font-size: 1rem;
}

.song__progress {
  gap: 1rem;
}

.aside__bottom .song__progress .progress__bar {
  min-width: 100px;
}

.aside__bottom .song__thumbnail {
  width: 40px;
  height: 40px;
}

.aside__bottom .now__playing__song {
  gap: 0.5rem;
}

.now__playing__song .fa-folder {
  margin-top: 0.5rem;
}

.player__actions {
  gap: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player__actions i {
  font-size: 1rem;
}

.player__actions .fa-play {
  margin: 0 0.5rem;
}

.player__features {
  gap: 1rem;
}

.player__features .progress__bar {
  width: 70px;
}

.aside__left {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.aside__left img {
  width: 30px;
  height: 30px;
}

.aside__left__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-full {
  display: none;
}

.aside__left__links {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.aside__left__links .btn figure {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  font-weight: lighter;
}

.aside__left__links .btn.active figcaption {
  color: var(--white-color);
}

.aside__left__body,
.aside__left__footer strong,
.aside__left__header .btn figcaption {
  display: none;
}

.create__playlist {
  gap: 1rem;
  margin: 1rem 0;
}

.create__playlist button {
  width: 40px;
  height: 40px;
  background-color: var(--muted--color);
  color: var(--black-color);
  border-radius: 10px;
}

.playlists__list .playlist {
  margin: 1rem 0;
}

.aside__left__footer .user__profile {
  padding-top: 1rem;
  margin-top: 1rem;
  justify-content: flex-start;
}

.aside__left__footer .user__profile figure {
  width: 40px;
  height: 40px;
  background-color: var(--muted--color);
  border-radius: 40px;
}

@media (min-width: 640px) {
  #root {
    grid-template-columns: 230px auto;
  }

  .aside__bottom p,
  .song__title,
  .aside__bottom i {
    font-size: 1rem;
  }

  .song__album {
    font-size: 1rem;
  }

  .song__progress {
    gap: 1rem;
  }

  .aside__bottom .song__progress .progress__bar {
    min-width: 150px;
  }

  .aside__bottom .song__thumbnail {
    width: 50px;
    height: 50px;
  }

  .aside__bottom .now__playing__song {
    gap: 1rem;
  }

  .now__playing__song .fa-folder {
    margin-top: 0.5rem;
  }

  .player__actions {
    gap: 1rem;
    margin-bottom: 1rem;
    justify-content: center;
  }

  .player__actions .btn:has(.fa-play) {
    margin: 0 1rem;
  }

  .player__actions i {
    font-size: 1.3rem;
  }

  .player__actions .fa-play {
    margin: 0 0.5rem;
  }

  .player__features {
    gap: 1rem;
  }

  .aside__left {
    align-items: unset;
  }

  .aside__left__links li,
  .aside__left__body,
  .aside__left__footer {
    padding: 0 20px;
  }

  .aside__left__links li:has(.btn.active) {
    border-left: 4px solid var(--primary-color);
    border-radius: 0 20px 20px 0;
  }

  .aside__left__body {
    display: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .aside__left__footer strong,
  .aside__left__header .btn figcaption {
    display: block;
  }

  .logo-sm {
    display: none;
  }

  img.logo-full {
    display: block;
    width: 130px;
    height: 50px;
    margin: 10px 10px 0;
  }

  .aside__left__header {
    display: block;
  }

  .aside__left__footer .user__profile {
    border-top: 1px solid var(--muted--color);
  }
}

@media (min-width: 878px) {
  .player__control {
    flex-grow: 1;
    max-width: 320px;
  }

  .player__features .progress__bar {
    min-width: 120px;
  }
}

@media (min-width: 1440px) {
  .player__control {
    flex-grow: 1;
    max-width: 520px;
  }

  .player__features .progress__bar {
    min-width: 120px;
  }

  .now__playing__song div:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-left: 2rem;
  }

  .btn .fa-folder {
    margin: 0;
  }
}
